@use 'src/styles/Colours';
.list{
    margin: 20px auto;
    background: Colours.$list;
    border-radius: 20px;
    text-align: center;
    width: 70%;
    height: 85%;
}

h1{
    margin: 10px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: 90%;
}